.toppromo {
    height: 300px;
    width: 100%;
    background-color: "black"
}

.images {
    height: 300px;
    width: 900px;
    background-image: url('./texture.jpg')
}

@media only screen and (max-width: 1000px) {
    .images {
        height: 150;
        width: 400
    }
}