.toppromo {
    height: 300px;
    width: 100%;
    background-color: "black"
}

.images {
    height: 300px;
    width: 900px;
    background-image: url('./texture.jpg')
}

@media only screen and (max-width: 990px) {
    .images {
        height: 300px;
        width: 600px;
    }
}

@media only screen and (max-width: 765px) {
    .images {
        height: 150px;
        width: 400px;
    }
}

@media only screen and (max-width: 400px) {
    .images {
        height: 125px;
        width: 350px;
        margin-bottom: 1px;
    }
}
